experiment: turbines_experiment
datasets:
  mnist:
    name: mnist
    input_dim: 784
    urls:
      train_images: https://raw.githubusercontent.com/fgnt/mnist/master/train-images-idx3-ubyte.gz
      train_labels: https://raw.githubusercontent.com/fgnt/mnist/master/train-labels-idx1-ubyte.gz
      test_images: https://raw.githubusercontent.com/fgnt/mnist/master/t10k-images-idx3-ubyte.gz
      test_labels: https://raw.githubusercontent.com/fgnt/mnist/master/t10k-labels-idx1-ubyte.gz
    paths:
      raw_dir: "data/raw_mnist"
      processed_dir: "data/processed/mnist"
      marker_file: "mnist_ready.success"
    split:
      train: 0.9
      val: 0.1
      test: 0
  cancer:
    name: cancer
    input_dim: 30
    paths:
      processed_dir: "data/processed/cancer"
      marker_file: "cancer_ready.success"     
    split:
      train: 0.8
      val: 0.1
      test: 0.1 
  turbines:
    name: turbines
    input_dim: 4
    paths:
      processed_dir: "data/processed/turbines"
      marker_file: "cancer_ready.success"
    split:
      train: 0.8
      val: 0.1
      test: 0.1

model:
  type: sequential
  architecture:
    - [null, 128, relu]
    - [batchnorm, 128]
    - [Dropout, 0.2]
    - [128, 64, relu]
    - [64, 1, linear]

training:
  batch_size: 32
  epochs: 100
  metric: r2
  optimizer:
    name: adamw
    lr: 0.001
